<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <style>
  html{
      min-height:100%;
      background-size:cover;
  }
  body{
      /* Workaround for some mobile browsers */
      min-height:100%;
  }
  </style>
  <%= render '/refinery/javascripts' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">

      <header id="header" class='clearfix'>
        <%= image_tag asset_path("yangqigong/header.png"), :style=> 'width: 100%' %>
        <%= image_tag asset_path("yangqigong/menus.png"), :style=> 'width: 100%' %>
        <div class="" style='position:relative;background-color: #8c1010; margin-top: 30px;
          height: 45px;
          line-height: 45px; font-size: 25px;
          padding: 0 60px'>
          <ul class="" >
            <% Refinery::Page.where('show_in_menu = 1').each do |page|
              page_url = refinery.url_for(page.url)
              %>
              <li class=''>
              <%= link_to page.title, page_url, :class => 'main_page_menu  float-shadow' -%>
              </li>
            <% end %>
          </ul>
        </div>
      </header>
      <section id="page" style='clear: both; margin-top: 20px'>
        <%= yield %>
      </section>
      <footer class="clearfix">
        <%= image_tag asset_path("yangqigong/footer.png"), :style=> 'width: 100%' %>
        <div class="art-footer-inner">
        <div style="margin: 0 auto; width: 300px">
          Copyright © 2014. 马礼堂养气功官方站点
        </div>
       </div>
       </footer>
    </div>
  </body>
</html>
